<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <test verbose="2"  preserve-order="true" name="Test1" parallel="none">
        <classes>
            <class name="TestEngine">
                <methods>
                    <include name="runSpecificDT_WithSingleWP" />
                    <include name="runSpecificDT_WithWPPerData" />
                    <include name="runDTOnDir_WithSingleWP" />
                    <include name="runDTOnDir_WithWPPerData" />
                    <include name="runSpecificAPIDT_WithSingleWP" />
                    <include name="runSpecificAPIDT_WithWPPerData" />
                    <include name="runAPIDT_OnDir_WithSingleWP" />
                    <include name="runAPIDT_OnDir_WithWPPerData" />
                    <include name="runSpecificDT_InParallel" />
                    <include name="runCreateReportOnly_SingleWP" />
                    <include name="runCreateReportOnly_MultiDT_SingleWP" />
                </methods>
            </class>
        </classes>
    </test>
</suite>